doctype html
html(ng-app)
	head
		meta(charset='utf-8')
		title Angular Test
	body
		h1 Test
		h2 これはh2
		ul
			- for (var i = 0; i < 3; i++) {
			li list
			- }
		form
			input(type='text', ng-model='yourname' placeholder='お名前を入れてください')
		p こんにちは{{yourname}}
		script(src='/js/angular.js')