<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular Test</title>
  </head>
  <body>
    <h1>Test</h1>
    <h2>これはh2</h2>
    <ul>
      <li>list</li>
      <li>list</li>
      <li>list</li>
    </ul>
    <form>
      <input type="text" ng-model="yourname" placeholder="お名前を入れてください">
    </form>
    <p>こんにちは{{yourname}}</p>
    <script src="/js/angular.js"></script>
  </body>
</html>