@charset "utf-8";

// サポートするブラウザ（true：サポートする false：サポートしない）
// Compass ブラウザサポート
// IE6に対応するか
$legacy-support-for-ie6 : true;
// IE7に対応するか
$legacy-support-for-ie7 : true;
// Webkit, Safari
$experimental-support-for-webkit: true;
// Firefox
$experimental-support-for-mozilla: true;
// Opera
$experimental-support-for-opera: false;
// Internet Explorer
$experimental-support-for-microsoft: true;
// Konqueror
$experimental-support-for-khtml: false;
// IE9のグラデーションをSVGで置き換える
$experimental-support-for-svg: true;


// サイト個別の設定
// デフォルトのフォントファミリー
$fontFamily: "メイリオ","Meiryo","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;



// 通常の文字色
$defaultColor: #333333;
// リンクの色
$linkColor: #0BA5D9;
// 訪問済みリンクの色
$visitedColor:#5A9AB5;
// マウスオーバー時の色
$hoverColor: #B38309;

//テーマカラー（不要なら削除）
$baseColor : #FFF !default;
$subColor: #FFF !default;
$accentColor: #FFF !default;
$strongColor: $defaultColor;
