@charset "utf-8";
/* ===================================================================
CSS information

 file name  :main.scss
 style info :コンテンツエリア関係 他

このスタイルシートの構成
 基本設定、レイアウト、横幅設定など
 汎用class
 #navSkip
 #page
  #contents
   #main
   #sub
=================================================================== */

/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/
body {
}
a:link {
	color:$linkColor;
}
a:visited {
	color:$visitedColor;
}
a:hover {
	color:$hoverColor;
}
a:active {
}

/*----------------------------------------------------
	#page
----------------------------------------------------*/
#page {
	width: 960px;
	margin: 0 auto;
}


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#contents {
	@include clearfix;
}
#homePr {
}
/*----------------------------------------------------
	#main
		メイン
----------------------------------------------------*/
#main {
	float: right;
	width: 700px;
	h2 {
	}
	h3 {
	}
	ul {
	}
	table,ol,ul,dl,blockquote,pre,p {
		margin-bottom: 1em;
		line-height:1.6;
	}
	p {
		@include justify;
	}
	p.pC { // 写真ぶち抜き
		margin:0 0 1em;
		text-align:center;
		img {
			vertical-align:top;
		}
	}
}
/* ■トップページ { */
#home #main {
	width:710px;
}
/* } トップページここまで */
/* -----------------------------------------------------------
	#sub
		サイドバー、サブ
----------------------------------------------------------- */
#sub {
	float: left;
	width: 230px;
}