@charset "utf-8";

// YUI用フォントサイズ
$yui-10px: 77%;
$yui-11px: 85%;
$yui-12px: 93%;
$yui-13px: 100%;
$yui-14px: 108%;
$yui-15px: 116%;
$yui-16px: 123.1%;
$yui-17px: 131%;
$yui-18px: 138.5%;
$yui-19px: 146.5%;
$yui-20px: 153.9%;
$yui-21px: 161.6%;
$yui-22px: 167%;
$yui-23px: 174%;
$yui-24px: 182%;
$yui-25px: 189%;
$yui-26px: 197%;

@mixin reset {
		margin:0;
		padding:0;
		font-size:$yui-13px;
		color:$defaultColor;
		background:none;
		text-shadow:none;
		line-height:1.5;
}
@mixin justify {
	text-align:justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}

@function half($size) {
	@return #{$size/2}px;
}

@mixin swap-text {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

@mixin reset-swap-text {
	text-indent: 0;
	overflow: visible;
	white-space: normal;
}

@mixin sprite-rect($sprite-map,$png-name) {
	width: image-width(sprite-file($sprite-map,$png-name));
	height: image-height(sprite-file($sprite-map,$png-name));
}

@mixin clearfix {
	*zoom: 1;
	&:after {
		clear: both;
		content:"";
		display: block;
	}
}
