@charset "utf-8";
/* ===================================================================
 file name  :module
 style info :共通（ヘッダー、フッター）
=================================================================== */

/* -----------------------------------------------------------
	#pageHeader
		ヘッダー
----------------------------------------------------------- */

#globalHeader {
	background:#FFFFFF;
	width:960px;
}
#globalFooter {

}