@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  normalize.css
 style info :  リセット及びbody初期設定 (このスタイルシートは基本的に変更しない)
=================================================================== */
/*--- reset */
/*! normalize.css 2011-06-21T18:23 UTC ・ http://github.com/necolas/normalize.css */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio[controls], canvas, video {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	//-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; /* 4 */
}
body {
	margin: 0;
}
body, button, input, select, textarea {
	font-family: sans-serif;
}
a {
	color: #00e;
}
a:visited {
	color: #551a8b;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
/* =============================================================================
   タイポグラフィ関連
   ========================================================================== */
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
small {
	font-size: 75%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* =============================================================================
   リスト関連
   ========================================================================== */
ul, ol {
	margin: 0 0 1em;
	padding: 0 0 0 0;
}
dd {
	margin: 0 0 0 0;
}
ul, ol {
	list-style: none;
}
/* =============================================================================
   埋め込みコンテンツ
   ========================================================================== */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
/* =============================================================================
   Figure要素
   ========================================================================== */
figure {
	margin: 0;
}
/* =============================================================================
   フォーム関連
   ========================================================================== */
form {
	margin: 0;
}
fieldset {
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
 *margin-left: -7px;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
 *vertical-align: middle;
}
button, input {
	line-height: normal;
 *overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
/* =============================================================================
   テーブル関連
   ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.1
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{
	font:99% arial,helvetica,clean,sans-serif;
}
table{
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt{
	font-family:monospace;*font-size:108%;line-height:100%;
}

/* Customize */
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
li {
	list-style-type: none;
}

/*--- default */
body {
	background: #FFF;
	line-height: 1.5;
	font-family:$fontFamily;
}
@if $legacy-support-for-ie6 == true {
	* html body {	/* for IF6 */
		font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	}
}