@charset "utf-8";
// #mainの幅
$mainWidth : 700px;
$spWidth : 300px;
// 増幅幅
$unit : 50;
// 文字とテキストの余白
$picMargin : 20px;
$sppicMargin: 10px;

@for $i from 0 through 13 {
	$picWidth : $unit * $i;
	
	.pl#{$picWidth} {
		margin:0 0 1em;
		overflow:hidden;
		@media screen and (max-width: 480px){
			overflow:visible;
		}
		.text {
			float:right;
			width:$mainWidth - $picWidth - $picMargin - 0px;
			@media screen and (max-width: 480px){
				float:none;
			}
			@if($picWidth >= $spWidth) {
				@media screen and (max-width: 480px){
					width:auto;
					float:none;
				}
			}
		}
		.pict {
			float:left;
			width:$picWidth - 0px;
			img {
				vertical-align:top;
			}
			@if($picWidth >= $spWidth) {
				@media screen and (max-width: 480px){
					width:auto;
					float:none;
					img {
						width:100%;
						height:auto;
					}
				}
			} @else {
				@media screen and (max-width: 480px){
					float:none;
					text-align:center;
				}
			}
		}
	}
	.pr#{$picWidth} {
		margin:0 0 1em;
		overflow:hidden;
		@media screen and (max-width: 480px){
			overflow:visible;
		}
		.text {
			float:left;
			width:$mainWidth - $picWidth - $picMargin - 0px;
			@if($picWidth >= $spWidth) {
				@media screen and (max-width: 480px){
					width:auto;
					float:none;
				}
			}
		}
		.pict {
			float:right;
			width:$picWidth - 0px;
			img {
				vertical-align:top;
			}
			@if($picWidth >= $spWidth) {
				@media screen and (max-width: 480px){
					float:none;
					img {
						width:100%;
						height:auto;
					}
				}
			} @else {
				@media screen and (max-width: 480px){
					float:none;
					text-align:center;
				}
			}
		}
	}
}
